@using Mockify.ViewModels;
@model ApplicationsViewModel
@{
    ViewData["Title"] = "Mockify Applications";
}

<div>
    <h1> Register or Edit Mockify Applications</h1>

    <div id="exitsingMockifyApplicationsArea">
        <h3>Available Mockify Applications</h3>
        <ul>
            @foreach (RegisteredApplication ra in Model.Applications) {
                <li>
                    <a href="/applications/@ra.ClientId">@ra.ApplicationName</a>
                </li>
            }
        </ul>
    </div>
    <div id="addNewZone">
        <h3>Add New Mockify Application</h3>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="register" class="form" method="post">
            <div class="form-group">
                <label for="ApplicationName">
                    Application Name
                </label>
                <input class="form-control validate" name="ApplicationName" maxlength="60" required="required" placeholder="Your application name. Max 60 characters." type="text" />
            </div>
            <div class="form-group">
                <label for="ApplicationDescription">
                    Application Description
                </label>
                <input class="form-control validate" name="ApplicationDescription" maxlength="250" placeholder="Describe your application. Max 250 characters." type="text" />
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</div>